@mixin content-center {
  //가운데 정렬
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list-item {
  display: flex;
  align-items: center;
  padding: 12px 0;
  //   background: orange;

  &:hover .remove {
    display: block;
  }

  .check-circle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #9da1a7;
    font-size: 24px;
    margin-right: 20px;
    cursor: pointer;

    @include content-center;

    &.active {
      border: 1px solid #38d9a9;
      color: #38d9a9;
    }
  }

  .text {
    font-size: 21px;
    color: #495057;
    flex: 1;
    // background: tomato;
    &.finish {
      color: #919396;
      text-decoration: line-through; //중간에 라인이 쫙!!
    }
  }

  .remove {
    // background: orange;
    font-size: 28px;
    cursor: pointer;
    color: #f51b4f;

    @include content-center;

    display: none;

    &:hover svg {
      opacity: 0.6; //호버가 올라오면 투명도 50%
    }
  }
}
